In [ ]:
%load_ext sql

In [6]:
%sql postgresql://postgres:1q05BodhEffNca5apc2N@172.18.0.2/postgres

'Connected: postgres@postgres'

In [10]:
%%sql

DROP TABLE IF EXISTS Person CASCADE;
DROP TABLE IF EXISTS GivenName CASCADE;
DROP TABLE IF EXISTS FamilyName CASCADE;
DROP TABLE IF EXISTS Gender CASCADE;
DROP TABLE IF EXISTS GenderIdentity CASCADE;
DROP TABLE IF EXISTS Marriage CASCADE;
DROP TABLE IF EXISTS AdoptParent CASCADE;
DROP TABLE IF EXISTS BioParent CASCADE;


CREATE TABLE Person ( 
id INT, 
birth_date DATE, 
death_date DATE, 
birth_place TEXT, 
PRIMARY KEY (id) 
); 

 
CREATE TABLE GivenName ( 
person_id INT, -- Whose given name is this 
gn_name_id INT, -- Sequence number in how many times this person has changed their given name 
seq_num INT, -- Sequence number in parts of person current given name, e.g., first name vs. middle name 
start_date DATE, -- Date starting to use this name 
name TEXT, 
PRIMARY KEY (person_id, gn_name_id, seq_num), 
FOREIGN KEY (person_id) REFERENCES Person(id) 
); 

 
CREATE TABLE FamilyName ( 
person_id INT, -- Whose given name is this 
fn_name_id INT, -- Sequence number in how many times this person has changed their given name 
seq_num INT, -- Sequence number in parts of person current family name 
start_date DATE, -- Date starting to use this name 
name TEXT, 
PRIMARY KEY (person_id, fn_name_id, seq_num), 
FOREIGN KEY (person_id) REFERENCES Person(id) 
); 

 
CREATE TABLE Gender ( 
gender TEXT, 
PRIMARY KEY (gender) 
); 

 
CREATE TABLE GenderIdentity ( 
person_id INT, -- Whose gender identity 
gender_id INT, -- Sequence number in changes 
start_date DATE, -- Date starting to use this gender 
gender TEXT, 
PRIMARY KEY (person_id, gender_id), 
FOREIGN KEY (person_id) REFERENCES Person(id), 
FOREIGN KEY (gender) REFERENCES Gender(gender) 
); 

 
CREATE TABLE Marriage ( 
spouse1 INT, -- Either spouse (i.e., not necessarily father) 
spouse2 INT, -- The other one 
id INT, -- Sequence number of which marriage this is for this pair of people 
marriage_date DATE, -- Date starting for this marriage 

end_date DATE, -- Date ending for this marriage (divorce or death) 
divorce BOOLEAN, -- end in divorce (true) or death (false) 
PRIMARY KEY (spouse1, spouse2, id), 
FOREIGN KEY (spouse1) REFERENCES Person(id), 
FOREIGN KEY (spouse2) REFERENCES Person(id) 
); 

 
CREATE TABLE AdoptParent ( 
child INT, 
parent INT, 
start_date DATE, 
PRIMARY KEY (child, parent), 
FOREIGN KEY (child) REFERENCES Person(id), 
FOREIGN KEY (parent) REFERENCES Person(id) 
); 

 
CREATE TABLE BioParent ( 
child INT, 
parent INT, 
PRIMARY KEY (child, parent), 
FOREIGN KEY (child) REFERENCES Person(id), 
FOREIGN KEY (parent) REFERENCES Person(id) 
);

 * postgresql://postgres:***@172.18.0.2/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [11]:
%%sql

CREATE TABLE FactPersonRelationship ( 
    ancestor_id INT,          -- The ancestor 
    descendant_id INT,        -- The descendant 
    generation_distance INT,  -- How many generations down 
    direct_child BOOLEAN,     -- TRUE if direct child (generation_distance = 1) 
    PRIMARY KEY (ancestor_id, descendant_id), 
    FOREIGN KEY (ancestor_id) REFERENCES Person(id), 
    FOREIGN KEY (descendant_id) REFERENCES Person(id) 
);

 * postgresql://postgres:***@172.18.0.2/postgres
Done.

[]

In [12]:
%%sql

WITH RECURSIVE BioLineage AS ( 
    -- Base case: direct biological parent-child relationships 
    SELECT 
        parent AS ancestor_id, 
        child AS descendant_id, 
        1 AS generation_distance 
    FROM BioParent 
 
    UNION ALL 
 
    -- Recursive step: find child of a descendant 
    SELECT 
        bl.ancestor_id, 
        bp.child AS descendant_id, 
        bl.generation_distance + 1 
    FROM BioLineage bl 
    JOIN BioParent bp ON bl.descendant_id = bp.parent 
) 

 
-- Insert into the flattened relationship table 
INSERT INTO FactPersonRelationship (ancestor_id, descendant_id, generation_distance, direct_child) 
SELECT 
    ancestor_id, 
    descendant_id, 
    generation_distance, 
    generation_distance = 1 
FROM BioLineage;

 * postgresql://postgres:***@172.18.0.2/postgres
0 rows affected.

[]

In [ ]:
%%sql

CREATE TABLE FactAncestorRelationship ( 
    descendant_id INT, 
    ancestor_id INT, 
    generation_distance INT, 
    direct_parent BOOLEAN, 
    PRIMARY KEY (descendant_id, ancestor_id), 
    FOREIGN KEY (descendant_id) REFERENCES Person(id), 
    FOREIGN KEY (ancestor_id) REFERENCES Person(id) 
);

In [ ]:
%%sql

INSERT INTO Person (id, birth_date, death_date, birth_place)
VALUES

(1, '1950-1-1', '2010-1-1', 'New York City')
ON CONFLICT (id) DO UPDATE
SET
birth_date = EXCLUDED.birth_date,
death_date = EXCLUDED.death_date,
birth_place = EXCLUDED.birth_place
;

In [ ]:
%%sql

-- Insert 10 random rows

INSERT INTO Person (id, birth_date, death_date, birth_place)
SELECT
    gs AS id,
    date '1900-01-01' + (trunc(random() * 36500) * interval '1 day') AS birth_date,   -- Random date between 1900–2000
    date '2000-01-01' + (trunc(random() * 9131) * interval '1 day') AS death_date,   -- Random date between 2000–2025
    (ARRAY['New York City','Los Angeles','Chicago','Houston','Miami'])[floor(random()*5)+1] AS birth_place
FROM generate_series(1, 10) gs
ON CONFLICT (id) DO UPDATE
SET
    birth_date = EXCLUDED.birth_date,
    death_date = EXCLUDED.death_date,
    birth_place = EXCLUDED.birth_place;

Now that persons are already in Person OLAP table, we query for needed statistics.

In [22]:
%%sql

SELECT p.id, g.name 
FROM Person p 
JOIN GivenName g ON p.id = g.person_id 
WHERE g.gn_name_id = ( 
    SELECT MAX(gn_name_id) 
    FROM GivenName 
    WHERE person_id = p.id 
);

 * postgresql://postgres:***@172.18.0.2/postgres
(psycopg2.errors.UndefinedTable) relation "department" does not exist
LINE 4: JOIN department as d ON d.id = e.dept_id
             ^

[SQL: SELECT d.name, SUM(e.salary) as total_salaries
FROM employee as e

JOIN department as d ON d.id = e.dept_id

GROUP BY d.name
ORDER BY d.name ASC
;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [1]:
%%sql

SELECT p.id, f.name 
FROM Person p 
LEFT JOIN FamilyName f ON p.id = f.person_id;

UsageError: Cell magic `%%sql` not found.

In [24]:
%%sql
-- people who have never been in a marriage
SELECT p.id 
FROM Person p 
WHERE NOT EXISTS ( 
    SELECT 1 FROM Marriage m  
    WHERE m.spouse1 = p.id OR m.spouse2 = p.id 
);

 * postgresql://postgres:***@172.18.0.2/postgres
0 rows affected.

[]

In [33]:
%%sql

--Active Marriage table
CREATE VIEW ActiveMarriages AS 
SELECT spouse1, spouse2, marriage_date 
FROM Marriage 
WHERE end_date IS NULL;

 * postgresql://postgres:***@172.18.0.2/postgres
0 rows affected.

[]

In [2]:
%%sql

--return a flatten table of descendants of each ancestors
WITH RECURSIVE Descendants AS ( 
    SELECT parent AS ancestor, child AS descendant, 1 AS generation 
    FROM BioParent 
    
    UNION ALL 
    
    SELECT d.ancestor, b.child, generation + 1 
    FROM Descendants d 
    JOIN BioParent b ON d.descendant = b.parent 
) 

--query the max and min depth of generations as needed in the requirements
SELECT ancestor, COUNT(DISTINCT descendant) AS bio_descendants_count, 
       MIN(generation) AS min_generation_depth, 
       MAX(generation) AS max_generation_depth 
FROM Descendants 
GROUP BY ancestor;

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql

CREATE TABLE GivenNameAudit ( 
    person_id INT, 
    action TEXT, 
    action_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP 
);

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION log_givenname_insert() 
RETURNS TRIGGER AS $$ 
BEGIN 
    INSERT INTO GivenNameAudit (person_id, action) 
    VALUES (NEW.person_id, 'INSERT'); 
    RETURN NEW; 
END; 
$$ LANGUAGE plpgsql; 

CREATE TRIGGER trg_givenname_insert 
AFTER INSERT ON GivenName 
FOR EACH ROW EXECUTE FUNCTION log_givenname_insert();

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION PerTrig()
RETURNS TRIGGER
AS $$
    BEGIN
        IF NEW.gn_name IS NULL THEN
            RAISE EXCEPTION 'gn_name cannot be null';
        ELSIF NEW.fn_salary IS NULL THEN
            RAISE EXCEPTION '% have null salary', NEW.emp_name;
        ELSIF NEW.birth_date > CURRENT_DATE THEN
            RAISE EXCEPTION '% cannot have a future date', NEW.birth_date;
        ELSE
            NEW.perlast_update := CURRENT_TIMESTAMP;
            NEW.per_updatedby := CURRENT_USER;
        END IF;
        RETURN NEW;
    END $$
LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS per_trig ON Person CASCADE;

CREATE TRIGGER per_trig BEFORE INSERT OR UPDATE ON Person
    FOR EACH ROW EXECUTE PROCEDURE PerTrig();

In [ ]:
%%sql

-- Create roles 
CREATE ROLE manager LOGIN PASSWORD 'manager'; 
CREATE ROLE regular_user LOGIN PASSWORD 'user'; 
 
-- Grant permissions 
GRANT CONNECT ON DATABASE postgres TO manager;
GRANT SELECT, INSERT, UPDATE, DELETE ON Person TO manager; 

GRANT CONNECT ON DATABASE postgres TO regular_user;
GRANT EXECUTE ON FUNCTION api_upsert_person(TEXT, TEXT, TEXT, DATE, TEXT, DATE, TEXT)  TO regular_user;
GRANT EXECUTE ON FUNCTION person_trig() TO regular_user;

GRANT SELECT ON Person TO regular_user;

In [ ]:
%%sql

BEGIN TRANSACTION ISOLATION LEVEL READ COMMITTED; 
 
-- Transaction actions will be commited or rolled back if not fully executed
UPDATE Person
SET birth_place = 'New York' WHERE id = 101; 
 
COMMIT;


*************Now that the OLTP and OLAP database models are already created, set up, inserted into, and queried, we will explore translating this dtabse into NoSQL databases.***************

MONGODB (Code is generated from templates in paper Multi-Paradigm Genealogical Data Modeling: OLTP, OLAP, and Cross-Model Translation from Relational to NoSQL Databases)

In [4]:
from pymongo import MongoClient
from bson import ObjectId
from datetime import datetime

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client.ricedb

# Drop the Person collection if it exists
db.Person.drop()

ServerSelectionTimeoutError: localhost:27017: [Errno 111] Connection refused, Timeout: 30s, Topology Description: <TopologyDescription id: 68a0ed6ada48bd541132b7ef, topology_type: Single, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [Errno 111] Connection refused')>]>

In [ ]:
const parent1 = db.Person.insertOne({
  _id: ObjectId()
  birth_date: ISODate("1950-01-01"),
  birth_place: "Boston",
  given_name: { start_date: ISODate("1950-01-01"), word: [{ gn_name: 1, seq_name: 1, text: "Alice" }] },
  family_name: { start_date: ISODate("1950-01-01"), word: [{ gn_name: 1, seq_name: 1, text: "Smith" }] },
  gender_identity: { start_date: ISODate("1950-01-01"), gender: "Female" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

const parent2 = db.Person.insertOne({
  birth_date: ISODate("1948-03-15"),
  birth_place: "Chicago",
  given_name: { start_date: ISODate("1948-03-15"), word: [{ gn_name: 1, seq_name: 1, text: "Robert" }] },
  family_name: { start_date: ISODate("1948-03-15"), word: [{ gn_name: 1, seq_name: 1, text: "Smith" }] },
  gender_identity: { start_date: ISODate("1948-03-15"), gender: "Male" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

const adoptiveParent = db.Person.insertOne({
  birth_date: ISODate("1960-07-20"),
  birth_place: "Los Angeles",
  given_name: { start_date: ISODate("1960-07-20"), word: [{ gn_name: 1, seq_name: 1, text: "Carol" }] },
  family_name: { start_date: ISODate("1960-07-20"), word: [{ gn_name: 1, seq_name: 1, text: "Johnson" }] },
  gender_identity: { start_date: ISODate("1960-07-20"), gender: "Female" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

const child1 = db.Person.insertOne({
  birth_date: ISODate("1990-02-10"),
  birth_place: "New York",
  given_name: { start_date: ISODate("1990-02-10"), word: [{ gn_name: 1, seq_name: 1, text: "Emily" }] },
  family_name: { start_date: ISODate("1990-02-10"), word: [{ gn_name: 1, seq_name: 1, text: "Smith" }] },
  gender_identity: { start_date: ISODate("1990-02-10"), gender: "Female" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

const child2 = db.Person.insertOne({
  birth_date: ISODate("1992-06-15"),
  birth_place: "New York",
  given_name: { start_date: ISODate("1992-06-15"), word: [{ gn_name: 1, seq_name: 1, text: "James" }] },
  family_name: { start_date: ISODate("1992-06-15"), word: [{ gn_name: 1, seq_name: 1, text: "Smith" }] },
  gender_identity: { start_date: ISODate("1992-06-15"), gender: "Male" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

// Adopted child
const adoptedChild = db.Person.insertOne({
  birth_date: ISODate("2000-09-05"),
  birth_place: "Los Angeles",
  given_name: { start_date: ISODate("2000-09-05"), word: [{ gn_name: 1, seq_name: 1, text: "Lily" }] },
  family_name: { start_date: ISODate("2000-09-05"), word: [{ gn_name: 1, seq_name: 1, text: "Johnson" }] },
  gender_identity: { start_date: ISODate("2000-09-05"), gender: "Female" },
  parents_biological: [],
  parents_adoptive: [],
  children_biological: [],
  children_adoptive: [],
  marriages: []
});

In [ ]:
db.Person.insertOne({
  birth_date: ISODate("1970-01-01"),
  birth_place: "New York",
  
  given_name: { start_date: ISODate("1970-01-01"), word: [{ gn_name: 1, seq_name: 1, text: "John" }] },
  family_name: { start_date: ISODate("1970-01-01"), word: [{ gn_name: 1, seq_name: 1, text: "Smith" }] },
  gender_identity: { start_date: ISODate("1970-01-01"), gender: "Male" },
  
  // Biological parents
  parents_biological: [
    { parent_id: parent1.insertedId, mother: true },
    { parent_id: parent2.insertedId, mother: false }
  ],
  
  // Adoptive parent
  parents_adoptive: [
    { parent_id: adoptiveParent.insertedId, start_date: ISODate("1980-01-01") }
  ],
  
  // Children
  children_biological: [
    { children_id: child1.insertedId, gender: "Female" },
    { children_id: child2.insertedId, gender: "Male" }
  ],
  
  children_adoptive: [
    { children_id: adoptedChild.insertedId, start_date: ISODate("2005-01-01") }
  ],
  
  // Marriages
  marriages: [
    { spouse_id: ObjectId(), start_date: ISODate("1995-06-15"), end_date: null },
    { spouse_id: ObjectId(), start_date: ISODate("1985-05-10"), end_date: ISODate("1990-03-01") }
  ]
});

In [ ]:

db.Person.updateOne(
  { _id: parent1.insertedId },
  { $push: { children_biological: { children_id: johnId, gender: "Male" } } }
);

db.Person.updateOne(
  { _id: parent2.insertedId },
  { $push: { children_biological: { children_id: johnId, gender: "Male" } } }
);

b.Person.updateOne(
  { _id: adoptiveParent.insertedId },
  { $push: { children_adoptive: { children_id: johnId, start_date: ISODate("1980-01-01") } } }
);

db.Person.updateOne(
  { _id: child1.insertedId },
  { $push: { parents_biological: { parent_id: johnId, mother: false } } }
);

db.Person.updateOne(
  { _id: child2.insertedId },
  { $push: { parents_biological: { parent_id: johnId, mother: false } } }
);

db.Person.updateOne(
  { _id: adoptedChild.insertedId },
  { $push: { parents_adoptive: { parent_id: johnId, start_date: ISODate("2005-01-01") } } }
);

db.Person.updateOne(
  { _id: spouse1Id },
  { $push: { marriages: { spouse_id: johnId, start_date: ISODate("1995-06-15"), end_date: null } } }
);

MONGODB QUERIES

In [ ]:
// This counts the number of biological children for each person

db.Person.aggregate([
  {
    $project: {
      given_name: 1,
        
      num_bio_children: {
        $size: { $ifNull: ["$children_biological", []]
        }
      }
    }
  }
])

In [ ]:
// This counts the number of biological children for matched _id

db.Person.aggregate([
  {
    $match: { _id: personId }  // start from this person
  },
  {
    $graphLookup: {
      from: "Person",                      // collection to traverse
      startWith: "$_id",                   // starting point (the person's _id)
      connectFromField: "_id",             // field from parent documents
      connectToField: "parents_biological.parent_id", // match against child’s parent_id
      as: "descendants",                   // output array
      depthField: "generation"             // optional: track depth
    }
  },
  {
    $project: {
      given_name: 1,
      num_descendants: { $size: "$descendants" }, // total descendants count
      descendants: 1                               // array of descendant documents
    }
  }
])

In [ ]:
//Find
list(collection.find({'prod_color': None}))

//Exact match
list(collection.find({'prod_manufacturer':
                      {
                          'man_name': 'GizmoWorks'
                      }
                     }))

//Partial match
list(collection.find({'prod_manufacturer.man_name': 'GizmoWorks'}))


//Cursor3
results1 = collection.find({'prod_color': None})
results3 = results1.clone()

for document in results3:
    print (document['_id'], document['prod_name'])

list(results3.sort('prod_name', pymongo.DESCENDING))

//Update
collection.update_many({'prod_name': 'Gizmo'},
                       {'$set': {'prod_name': 'Gizmo+',
                                 'prod_price': 20}}, 
                                  True)
list(collection.find())

//Delete
collection.delete_many({'prod_name': 'NoSuchProduct'})

In [ ]:
NEO4J (Code is generated from templates in paper Multi-Paradigm Genealogical Data Modeling: OLTP, OLAP, and Cross-Model Translation from Relational to NoSQL Databases )

In [ ]:
// Create Person
CREATE (:Person {
    id: "P001",
    given_name: "John",
    family_name: "Doe",
    gender: "M",
    birth_date: date("1980-05-12"),
    death_date: NULL,
    birth_place: "New York"
});

// Create Gender
CREATE (:Gender {
    id: "G001",
    gender: "Male",
    start_date: date("1980-05-12"),
    end_date: NULL
});

// Create Given_Name
CREATE (:Given_Name {
    id: "GN001",
    gn_name: 1,
    seq_name: 1,
    text: "John",
    start_date: date("1980-05-12"),
    end_date: NULL
});

// Create Family_Name
CREATE (:Family_Name {
    id: "FN001",
    gn_name: 1,
    seq_name: 1,
    text: "Doe",
    start_date: date("1980-05-12"),
    end_date: NULL
});

// Create another Person (spouse)
CREATE (:Person {
    id: "P002",
    given_name: "Jane",
    family_name: "Smith",
    gender: "F",
    birth_date: date("1982-08-23"),
    death_date: NULL,
    birth_place: "Los Angeles"
});

// Create Gender for spouse
CREATE (:Gender {
    id: "G002",
    gender: "Female",
    start_date: date("1982-08-23"),
    end_date: NULL
});

// Create Given_Name for spouse
CREATE (:Given_Name {
    id: "GN002",
    gn_name: 1,
    seq_name: 1,
    text: "Jane",
    start_date: date("1982-08-23"),
    end_date: NULL
});

// Create Family_Name for spouse
CREATE (:Family_Name {
    id: "FN002",
    gn_name: 1,
    seq_name: 1,
    text: "Smith",
    start_date: date("1982-08-23"),
    end_date: NULL
});

// Create relationships
MATCH (p1:Person {id:"P001"}), (p2:Person {id:"P002"})
CREATE (p1)-[:SpouseOf {start_date: date("2005-06-15"), end_date: NULL}]->(p2);

MATCH (p1:Person {id:"P001"}), (g1:Given_Name {id:"GN001"})
CREATE (p1)-[:Has_Given_Name]->(g1);

MATCH (p1:Person {id:"P001"}), (f1:Family_Name {id:"FN001"})
CREATE (p1)-[:Has_Family_Name]->(f1);

MATCH (p1:Person {id:"P001"}), (g2:Gender {id:"G001"})
CREATE (p1)-[:Has_Gender]->(g2);

MATCH (p1:Person {id:"P002"}), (g1:Given_Name {id:"GN002"})
CREATE (p1)-[:Has_Given_Name]->(g1);

MATCH (p1:Person {id:"P002"}), (f1:Family_Name {id:"FN002"})
CREATE (p1)-[:Has_Family_Name]->(f1);

MATCH (p1:Person {id:"P002"}), (g2:Gender {id:"G002"})
CREATE (p1)-[:Has_Gender]->(g2);

In [ ]:
NEO4J QUERIES

In [ ]:
//Count biological children of John Doe
    
MATCH (:Person {id: "P001"})-[:BioParentOf]->(p:Person)
RETURN p.given_name + " " + p.family_name AS child_name, COUNT(p) AS num_bio_children;

//Count biological descendants of John Doe (recursively)

MATCH (:Person {id: "P001"})-[:BioParentOf*1..]->(p:Person)
RETURN p.given_name + " " + p.family_name AS descendant_name, COUNT(DISTINCT p) AS num_bio_descendants;